<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="check24shopping_orderimport" frontName="check24shopping_orderimport">
            <module name="Check24Shopping_OrderImport"/>
        </route>
    </router>
</config>
